project-004/target/
project-004/.settings/
project-004/.vertx/
project-004/.vscode/

project-004/.classpath
project-004/.project

project-005/target/
project-005/.settings/
project-005/.vertx/
project-005/.vscode/

project-005/.classpath
project-005/.project

.git/
.settings/

.classpath
.project

